In [1]:
import pandas as pd

In [2]:
df2 = pd.read_csv('gradcafe.csv')

In [23]:
df1 = pd.read_csv('python/usnews.csv')

In [24]:
df1

,ID,name,url,location,no. of reviews,description,tuition,enrollment
0,0,Princeton University,https://www.usnews.com//best-colleges/princeto...,"Princeton, NJ",19 reviews,The ivy-covered campus of Princeton University...,"$56,010","4,773(fall 2020)"
1,1,Columbia University,https://www.usnews.com//best-colleges/columbia...,"New York, NY",39 reviews,Columbia University has three undergraduate sc...,"$63,530","6,170(fall 2020)"
2,2,Harvard University,https://www.usnews.com//best-colleges/harvard-...,"Cambridge, MA",17 reviews,Harvard University is a private institution in...,"$55,587","5,222(fall 2020)"
3,3,Massachusetts Institute of Technology,https://www.usnews.com//best-colleges/massachu...,"Cambridge, MA",12 reviews,Though the Massachusetts Institute of Technolo...,"$55,878","4,361(fall 2020)"
4,4,Yale University,https://www.usnews.com//best-colleges/yale-uni...,"New Haven, CT",10 reviews,"Yale University, located in New Haven, Connect...","$59,950","4,703(fall 2020)"
...,...,...,...,...,...,...,...,...
145,145,University of the Pacific,https://www.usnews.com//best-colleges/universi...,"Stockton, CA",4 reviews,The University of the Pacific is a private col...,"$52,352","3,524(fall 2020)"
146,146,University of Tulsa,https://www.usnews.com//best-colleges/universi...,"Tulsa, OK",6 reviews,Students at the University of Tulsa leave with...,"$44,838","2,929(fall 2020)"
147,147,Colorado State University,https://www.usnews.com//best-colleges/colorado...,"Fort Collins, CO",6 reviews,"Colorado State University, also known as CSU, ...","$31,540(out-of-state)","25,186(fall 2020)"
148,148,CUNY--City College,https://www.usnews.com//best-colleges/cuny-cit...,"New York, NY",3 reviews,"Founded in 1847, CUNY--City College is a publi...","$19,010(out-of-state)","12,587(fall 2020)"
149,149,Duquesne University,https://www.usnews.com//best-colleges/duquesne...,"Pittsburgh, PA",3 reviews,"Founded in 1878, Duquesne University is a priv...","$43,526","5,383(fall 2020)"

In [5]:
df1['tuition'] = df1['tuition'].apply(lambda a:a.split('(')[0].split('$')[1])
df1['tuition'] = df1['tuition'].apply(lambda x: x.replace(',', ''))
df1['tuition'] = df1['tuition'].apply(pd.to_numeric)

In [6]:
df1['enrollment'] = df1['enrollment'].apply(lambda a:a.split('(')[0])
df1['enrollment'] = df1['enrollment'].apply(lambda x: x.replace(',', ''))
df1['enrollment'] = df1['enrollment'].apply(pd.to_numeric)

In [7]:
df1

,Unnamed: 0,name,url,location,no. of reviews,description,tuition,enrollment
0,0,Princeton University,https://www.usnews.com//best-colleges/princeto...,"Princeton, NJ",19 reviews,The ivy-covered campus of Princeton University...,56010,4773
1,1,Columbia University,https://www.usnews.com//best-colleges/columbia...,"New York, NY",39 reviews,Columbia University has three undergraduate sc...,63530,6170
2,2,Harvard University,https://www.usnews.com//best-colleges/harvard-...,"Cambridge, MA",17 reviews,Harvard University is a private institution in...,55587,5222
3,3,Massachusetts Institute of Technology,https://www.usnews.com//best-colleges/massachu...,"Cambridge, MA",12 reviews,Though the Massachusetts Institute of Technolo...,55878,4361
4,4,Yale University,https://www.usnews.com//best-colleges/yale-uni...,"New Haven, CT",10 reviews,"Yale University, located in New Haven, Connect...",59950,4703
...,...,...,...,...,...,...,...,...
145,145,University of the Pacific,https://www.usnews.com//best-colleges/universi...,"Stockton, CA",4 reviews,The University of the Pacific is a private col...,52352,3524
146,146,University of Tulsa,https://www.usnews.com//best-colleges/universi...,"Tulsa, OK",6 reviews,Students at the University of Tulsa leave with...,44838,2929
147,147,Colorado State University,https://www.usnews.com//best-colleges/colorado...,"Fort Collins, CO",6 reviews,"Colorado State University, also known as CSU, ...",31540,25186
148,148,CUNY--City College,https://www.usnews.com//best-colleges/cuny-cit...,"New York, NY",3 reviews,"Founded in 1847, CUNY--City College is a publi...",19010,12587
149,149,Duquesne University,https://www.usnews.com//best-colleges/duquesne...,"Pittsburgh, PA",3 reviews,"Founded in 1878, Duquesne University is a priv...",43526,5383

In [8]:
from tqdm import tqdm
import pandas as pd
import re
import base64
import rdflib
from rdflib import URIRef, Literal, Namespace, BNode
from rdflib.namespace import RDF, RDFS, XSD
import math

In [9]:
user_string = "http://dsci558.com/User/id/"
uni_string = "http://dsci558.com/University/id/"
state_string = "http://dsci558.com/State/id/"

In [10]:
MYNS = Namespace('https://isi.edu/MYNS/namespace#')
SCHEMA = Namespace("https://schema.org/")

In [11]:
g = rdflib.Graph()

# Bind namespace and prefixes
g.bind('schema', SCHEMA)
g.bind('rdf', RDF)
g.bind('rdfs', RDFS)
g.bind('xsd', XSD)
g.bind('myns',MYNS)

# Load Predictions

In [12]:
predictions = pd.read_csv("Saurabh_Jain_predictions.csv",header= None)

In [13]:
new_pred = predictions[predictions[2]==True]

In [14]:
for index,row in tqdm(df2.iterrows(),total=len(df2)):
    
    node_uri = URIRef(user_string+str(row['ID']))
    g.add((node_uri, RDF.type, SCHEMA.ProfilePage))
    g.add((node_uri, SCHEMA.identifier, Literal(row['ID'])))
    g.add((node_uri, MYNS.major, Literal(row['major'])))
    g.add((node_uri, MYNS.degree, Literal(row['degree'])))
    g.add((node_uri, MYNS.season, Literal(row['season'])))
    g.add((node_uri, MYNS.decision, Literal(row['decision'])))
    g.add((node_uri, MYNS.decision_method, Literal(row['decision_method'])))
    g.add((node_uri, SCHEMA["Date"], Literal(row['decision_date'])))
    g.add((node_uri, MYNS.gpa, Literal(row['gpa'])))
    g.add((node_uri, MYNS.gre_verbal, Literal(row['gre_verbal'])))
    g.add((node_uri, MYNS.gre_quant, Literal(row['gre_quant'])))
    g.add((node_uri, MYNS.gre_writing, Literal(row['gre_writing'])))

    # Add relation to university
    try:
        uni_id = new_pred[new_pred[1]==row['ID']][0].iloc[0]
#         uni_id = df1[df1['name']==row['university']].index[0]

        uni_uri = URIRef(uni_string+str(uni_id))
        g.add((node_uri, SCHEMA["name"], uni_uri)) #SCHEMA.CollegeOrUniversity
    except:
        pass

100%|███████████████████████████████████| 49743/49743 [00:24<00:00, 2026.22it/s]

In [15]:
getState = lambda a:a.split(',')[1].strip()

In [16]:
states = list(df1['location'].apply(getState).unique())

In [17]:
for index,row in tqdm(df1.iterrows()):
    node_uri = URIRef(uni_string+str(index))
    g.add((node_uri, RDF.type, SCHEMA.CollegeOrUniversity))
    g.add((node_uri, SCHEMA["name"], Literal(row['name'])))
    g.add((node_uri, SCHEMA["url"], Literal(row['url'])))
    g.add((node_uri, SCHEMA["location"], Literal(row['location'])))
    g.add((node_uri, SCHEMA["value"], Literal(row['tuition'])))
    g.add((node_uri, SCHEMA["text"], Literal(row['description'])))
    g.add((node_uri, SCHEMA["maximumEnrollment"], Literal(row['enrollment'])))
    
    st = states.index(getState(row['location']))
    
    state_uri = URIRef(state_string+str(st))
    g.add((node_uri, SCHEMA["address"], state_uri)) #SCHEMA.CollegeOrUniversity

150it [00:00, 5441.87it/s]

In [18]:
for index,row in tqdm(enumerate(states),total = len(states)):
    node_uri = URIRef(state_string+str(index))
    g.add((node_uri, RDF.type, SCHEMA.State))
    g.add((node_uri, SCHEMA.Name, Literal(row)))

100%|████████████████████████████████████████| 38/38 [00:00<00:00, 28006.25it/s]

In [19]:
g.serialize('my_graph.ttl',format='turtle')

MATCH (n)
DETACH DELETE n

CALL n10s.graphconfig.init()

CALL n10s.rdf.import.fetch("file:///Users/saurabhjain/Documents/USC/Semester 3/DSCI 558 - Knowledge Graphs/Project/my_graph.ttl","Turtle");

In [20]:
!pwd

/Users/saurabhjain/Documents/USC/Semester 3/DSCI 558 - Knowledge Graphs/Project

In [21]:
!head my_graph.ttl 1000

==> my_graph.ttl <==
@prefix myns: <https://isi.edu/MYNS/namespace#> .
@prefix schema: <https://schema.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://dsci558.com/University/id/100> a schema:CollegeOrUniversity ;
    schema:address <http://dsci558.com/State/id/31> ;
    schema:location "Eugene, OR" ;
    schema:maximumEnrollment 18045 ;
    schema:name "University of Oregon" ;
    schema:text "University of Oregon students have a variety of extracurricular options to choose from, including joining fraternities and sororities, cheering on the Ducks athletic teams, and checking out local art performances. More than 20 percent of students participate in Greek life." ;
head: 1000: No such file or directory

In [22]:
!cat my_graph.ttl | grep schema:Identifier